# Create a new file - sudo nano /etc/systemd/system/streamlit.service

[Unit]
Description=Streamlit Service
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/ollama-chatbot/2.chatbot_with_history
ExecStart=/opt/conda/bin/streamlit run /home/ubuntu/ollama-chatbot/2.chatbot_with_history/2.chatbot_with_history.py --server.enableCORS false --server.enableXsrfProtection false --server.address 0.0.0.0 --server.headless true
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target


sudo systemctl daemon-reload
sudo systemctl reset-failed streamlit.service
sudo systemctl start streamlit
sudo systemctl enable streamlit

sudo systemctl status streamlit
